*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    background: black;
    opacity: .7;
}

.listStyle{
    height: 40%;
    justify-content: space-around;
    align-items: center;
}

.titlePage h1{
    font-size: 7rem;
}

.titlePage h2 {
    font-size: 3rem;
}

.principalPage,  .navbar{
    height: 100vh;
}

.about_us,  #nuestros-trabajos {
    height: 100vh;
}

.btn-style-border {
    border-width: 1.5px;
    border-radius: 5px;
}

.listStyle > li, .listStyle > li > a {
    padding: 10px;
    transition: all .2s ease-in-out;
}

.listStyle > li > a:hover {
    transform: scale(1.1);
}

textarea {
    resize: none;
}

 .principalPage {
     background-color: #042056;
 }

 .navbar img{
    width: 50px;
}

.section-height {
    height: 60vh;
    border: 1px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 576px){
    .titlePage h1 {
        font-size: 5rem;
    }

    .titlePage h2 {
        font-size: 2rem;
    }

    h2{
        font-size: 25px;
        margin-top: 20px;
    }
    
    .about_us, #nuestros-trabajos {
        height: auto;
    }
    
    .personTitle{
        margin-top: 10px;
    }

    .responsiveMoodNone{
        display: none;
    }

    .navbar {
        height: auto;
        background: transparent!important;
    }

    .section-height {
        height: 30vh;
    }

    .section-height img {
        display: none;
    }
}
.section-height img {
    height: 147px;
}

.about_us {
    background: #ccc;
};
