* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.responsiveMoodNone {
  text-transform: uppercase;
}

.buttonbtnShow {
  position: absolute; 
  right: 30px; 
  top: 30px
}

.navbtnShow {
  width: 100%;
  height: 100vh;
}

.divbtnShow {
  width: 100%;
  height: 100vh;
}

.ulbtnShow{
  margin-top: 30%;
}

.sectionbtnShow {
  display: none;
} 

.navbar {
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  background: black;
  border-left: 3px solid #bec6dc;
  opacity: 0.7;
  transition: all 0.2s ease-in;
}

.navbar:hover {
  border-left: 3px solid #6b7dab;
}

.listStyle {
  height: 40%;
  justify-content: space-around;
  align-items: center;
}

.titlePage h1 {
  font-size: 7rem;
}

.titlePage h2 {
  font-size: 3rem;
}

.principalPage,
.navbar {
  height: 100vh;
}

.about_us,
#nuestros-trabajos {
  height: 100vh;
}

.btn-style-border {
  border-width: 1.5px;
  border-radius: 5px;
  border-color: #563b04;
  background: #563b04;
  transition: 0.2s ease-out;
}

.btn-style-border:hover {
  border-color: #563b04;
  background: #6e5113;
}

.listStyle > li,
.listStyle > li > a {
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.listStyle > li > a:hover {
  transform: scale(1.1);
}

textarea {
  resize: none;
}

.principalPage {
  background-color: #042056;
}

.principalPage:hover{
    animation-name: backgroundColor;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes backgroundColor {
    0% {
        background-color: #042056;
    }

    35% {
        background-color: #031b49;
    }

    45% {
        background-color: #021435;
    }

    50%{
      background-color: #020d22;
    }

    55% {
        background-color: #021435;
    }

    65% {
        background-color: #031b49;
    }
    
    100% {
        background-color: #042056;
    }
}



.colorText {
  background-color: white;
  color: #563b04;
}

.navbar img {
  width: 50px;
}

.section-height {
  height: 60vh;
  border: 1px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: space-around;
  scroll-behavior: smooth;
}

.section-height img {
  height: 147px;
}

.border-style {
    border-top: 1px solid #563b04;
}

.footerBg {
  background: #00002d;
}

.about_us {
  background: #e0e0e0;
}

.stylesImg {
    opacity: .8;
    width: auto;
    height: 200px;
    transition: all .2s linear;
    max-width: 100%;
}
html {
  scroll-behavior: smooth;
}
.stylesImg:hover {
    opacity: 1;
    transform: scale(1.05);
}

.top-btn {
    background: #f0e3b9;
    opacity: .8;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #6e5113;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 25px;
    right: 20px;
}

.top-btn img {
  width: 30px;
}

.top-btn:hover{
  opacity: 1;
}

.carouselStyles {
  width: 100%;
  height: 60vh;
  border-top: 2px solid #042056;
  border-bottom: 2px solid #042056;;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carouselImgContent {
  width: 50%;
  max-height: 100%;
  display: flex;
  align-items: center;
}

.ajusteWidthResponsive{
  width: 300px;
  height: auto;
}

.control{
  width: 30px;
}

.color-subtitle {
  color: #042056;
}


@media (max-width: 576px) {
  .titlePage h1 {
    font-size: 5rem;
  }

  .titlePage h2 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 25px;
    margin-top: 20px;
  }
  
  .about_us,
  #nuestros-trabajos {
    height: auto;
  }
  
  .personTitle {
    margin-top: 10px;
  }
  
  .responsiveMoodNone {
    display: none;
  }
  
  .navbar {
    height: auto;
    background: transparent !important;
    border: none;
  }

  .footerBg {
    margin-bottom: 28px;
  }
  
  .top-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    background: #f0e3b9;
    width: 100%;
    height: 30px;
    border-radius: 0;
    border: 1px solid #6e5113;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ajusteWidthResponsive, .carouselImgContent {
    width: 200px;
    height: auto;
  };
  
  .top-btn a {
    width: 100%;
    text-align: center;
  };

}
